<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Monster Slayer</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.css">
    <link rel="stylesheet" href="app.css">
</head>
<body>
    <section class="section" id="app">
        <div class="container">
            <h1 class="title has-text-centered">The Monster Slayer</h1>

            <div class="columns">
                <div class="column">
                    <h2 class="title has-text-centered">You</h2>
                    <progress class="progress is-large" 
                             :class="status(playerHP)"
                             :value="playerHP" 
                              max="100">{{ playerHP }}</progress>
                </div>
                <div class="column">
                    <h2 class="title has-text-centered">The Monster</h2>
                    <progress class="progress is-large" 
                             :class="status(monsterHP)" 
                             :value="monsterHP" 
                              max="100">{{ monsterHP }}</progress>
                </div>
            </div>

            <div class="box mobile-buttons has-text-centered">
                <template v-if="!finished">
                    <button class="button is-large is-danger fl-1" @click="attack" :disabled="finished">Attack</button>
                    <button class="button is-large is-warning fl-3" @click="spAttack" :disabled="cooldown > 0 || finished">Special Attack (<span v-if="cooldown > 0">{{ cooldown }}</span> <span v-else>ready</span>)</button>
                    <button class="button is-large is-success fl-2" @click="heal" :disabled="healCooldown > 0 || finished">Heal (<span v-if="healCooldown > 0">{{ healCooldown }}</span> <span v-else>ready</span>)</button>
                    <button class="button is-large is-outlined fl-4" @click="reset" :disabled="finished">Give Up</button>  
                </template>

                <template v-else>
                    <p class="subtitle is-small" v-if="won">You defeated the monster!</p>
                    <p class="subtitle is-small" v-if="lost">The monster proves to be too powerful. It devours your soul and laughs as it walks away.</p>
                    
                    <button class="button start-over is-medium is-outlined" @click="reset">Start over</button>
                </template>
            </div>

            <div class="box has-text-centered">
                <h2 class="title is-size-5">Battle Log</h2>
                <p v-if="battleLog.length == 0">There is no battle data yet.</p>
                
                <ul v-else>
                    <li v-for="entry in battleLog">
                        <p class="notification" :class="logStyle(entry.type)"> {{ entry.text }}</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <script src="https://unpkg.com/vue"></script>
    <script src="app.js"></script>
</body>
</html>